<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add Product Details</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	<form autocomplete="off" action="#" th:action="@{/admin/addproduct}" th:object="${product}" method="post" class="form-horizontal"
					role="form">

		<h2>Product Details</h2>
				<input type="hidden" th:field="*{productId}" placeholder="Product ID"
								class="form-control">	
				<div class="form-group">
							<div class="col-sm-9">
							PRODUCT NAME:<input type="text" th:field="*{productName}" placeholder="Product name"
								class="form-control" /> <label></label>
						</div>
		 
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							PRODUCT CODE:<input type="text" th:field="*{code}"
								placeholder="Product Code" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							PRODUCT PRICE:<input type="text" th:field="*{price}" placeholder="Product Price"
								class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							PRODUCT DESCRIPTION:<input type="text" th:field="*{desc}" placeholder="Product Price"
								class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							PRODUCT SELLER:<input type="text" th:field="*{seller}" placeholder="Product Seller"
								class="form-control" /> 
						</div>
					</div>
 					<div class="form-group">
						<div class="col-sm-9">
							PRODUCT IMAGE:<input type="file" th:field="*{fileData}" path="fileData"
								class="form-control" /> 
						</div>
					</div> 

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
  	</form>
		
	</div>
		
	</div>
</body>
</html>